/*# id, . class*/
/*general*/
*{margin: auto}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#mainBoard {
    background-image: url("../assets/background-test4.png");
    /*background-attachment: fixed;*/
    /*background-size: auto;*/
    /*background-color: #cccccc;*/
    border: solid;
    width: 800px;
    height: 600px;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: relative;
    /*background: #555555;*/
    display: block;
    margin: auto;
    /*word-wrap: normal;*/
}
.displayText {
    text-align: left;
    margin-left: 30px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 30px;
}
.backButton {
    background-color: black;
    border: none;
    color: white;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 8px;
    border-radius: 7px;
    width: 77px;
    height: 30px;
}
/*drawGameBoard element*/
.characterButton {
    background-color: black;
    border: none;
    color: white;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 50px;
    height: 50px;
}

.characterButton:hover {
    background-color: darkslategrey;
    color: white;
    border-color:sandybrown ;
}
.characterButton:active{
    border-color:sandybrown;
}
.characterButton:visited{
    border-color:sandybrown;
}
.answerArea{
    background-color: black;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    color: white;
}
.switchCategoryBtn{
    background-color: black;
    border: none;
    color: white;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 8px;
    border-radius: 7px;
    width: 167px;
    height: 30px;
    position: absolute;
    left: 36%;
    top: 75%;
}
.turnText{
    font-size: large;
    float: right;
    position: absolute;
    right: 10px;
    font-weight: bold;
}
.elementText{
    font-size: large;
    font-weight: bold;
}
/*drawPlayReviewBoard element*/
.selectCategoryButton{
    width: 50px ;
    height: 50px;
    border: none;
}

/*firstPage element*/

#startBtn{
    position: absolute;
    left: 8%;
    top: 40%;
    background-color: black;
    border: none;
    color: white;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 120px;
    height: 50px;
}
#reviewBtn{
    position: absolute;
    left: 30%;
    top: 40%;
    background-color:black;
    border: none;
    color: white;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 120px;
    height: 50px;
}
.challengeButton{
    background-color: black;
    border: none;
    color: white;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 8px;
    border-radius: 7px;
    width: 300px;
    height: 30px;
}
