/*# id, . class*/
/*general*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
#mainBoard {
    /*background-image: url("https://i.pinimg.com/originals/0a/9b/65/0a9b65c27cdbac4d4c37e48ffa3fdb8c.jpg");*/
    /*background-attachment: fixed;*/
    /*background-size: auto;*/
    /*background-color: #cccccc;*/
    border: solid;
    width: 800px;
    height: 600px;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: relative;
    /*background: #555555;*/
    display: block;
    margin: auto;
    /*word-wrap: normal;*/
}
/*drawGameBoard element*/
.characterButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 50px;
    height: 50px;
}
.characterButton:hover {
    background-color: sandybrown;
    color: white;
    border-color:sandybrown ;
}
.characterButton:active{
    border-color:sandybrown;
}
.characterButton:visited{
    border-color:sandybrown;
}
.answerArea{
    background-color: lightgreen;
    padding: initial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 50px;
    height: 50px;
}
/*drawPlayReviewBoard element*/
.selectCategoryButton{
    width: 50px ;
    height: 50px;
    border: none;
}

/*firstPage element*/
#startBtn{
    position: absolute;
    left: 30%;
    top: 50%;
}
#reviewBtn{
    position: absolute;
    left: 50%;
    top: 50%;
}

